---
import Layout from "../layouts/Layout.astro";
import About from "../sections/About.astro";
import Header from "../sections/Header.astro";
---

<Layout title="documentation">
<main>
    
</main>
</Layout>

<style>
h1
{
color: aliceblue;

}
</style>