---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import Analyze from "../sections/Analyze.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Analyze />
    <!-- <About /> -->
  </main>
</Layout>

<style></style>
