---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";

---

<Layout title="Footprint Calculator">
  <main>
    <Hero />
    <About />
  </main>
</Layout>

<style></style>
