---
const { limit, usage } = Astro.props;
const percentage = (usage / limit) * 100;
---

<div class="w-full h-full flex justify-center items-center">
  <div class="circular-progress">
    <span class="progress-value text-white z-10" data-percentage={percentage}
    ></span>
  </div>
</div>

<script>
  const circularProgress = document.querySelector(
    ".circular-progress"
  ) as HTMLDivElement;
  const progressValue = document.querySelector(
    ".progress-value"
  ) as HTMLSpanElement;

  if (progressValue && circularProgress && progressValue.dataset.percentage) {
    let progress = 0;
    const endProgress = parseInt(progressValue.dataset.percentage);
    const interval = setInterval(() => {
      progress += 1;
      progressValue.textContent = `${progress}%`;
      circularProgress.style.background = `conic-gradient(#ebff6d ${progress * 3.6}deg, #08090a 0deg)`;
      circularProgress.style.setProperty("--rotate", `${progress * 3.6}deg`);

      if (progress >= endProgress) {
        clearInterval(interval);
      }
    }, 50);
  }
</script>

<style>
  .circular-progress {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #1e293b;
    border-radius: 50%;
    background: conic-gradient(#ebff6d 180deg, #08090a 0deg);
  }

  .circular-progress::before {
    content: "";
    position: absolute;
    background-color: #0e0f11;
    border: 1px solid #1e293b;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }

  color {
    color: rgba(239, 83, 80, 1);
    color: rgba(239, 83, 80, 0.678);
    color: rgba(166, 38, 38, 0.05);
    color: #ebff6d;
    color: #ecff6d11;
    color: #ecff6d33;
  }
</style>
