---
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request) as any;

async function fetchDriveFiles() {
  try {
    // Obtener la sesión de autenticación
    const token = session.accessToken;
    if (token) {
      // Construir la solicitud a la API de Google Drive
      const response = await fetch("https://www.googleapis.com/drive/v3/about?fields=storageQuota", {
        method: "GET",
        headers: {
          Authorization: `Bearer ${token}`,
        },
      });

      // Manejar la respuesta de la API de Google Drive
      const data = await response.json();
      console.log(data)
    } else {
      console.error("No se pudo obtener el token de acceso.");
    }
  } catch (error) {
    console.error("Error al acceder a Google Drive:", error);
  }
}

 if(session){
   fetchDriveFiles();
 }

console.log("----------")
console.log(session)
---

<header
  class="flex justify-between fixed top-0 left-0 w-full z-50 px-[4rem] py-[1rem]"
>
  <div class="flex flex-col">
    <a
      href="/"
      class="text-white cursor-pointer tracking-tighter text-2xl font-semibold"
    >
      Green Digital
    </a>
  </div>
  <nav class="flex items-center gap-5">
    {
      session ? (
        <button class="text-white tracking-tight text-md font-medium cursor-pointer log-out">

        </button>
      ) : (
        <button class="text-white tracking-tight text-md font-medium cursor-pointer sign-in">
          Sign in
        </button>
      )
    }
    <a
      href="/dashboard"
      class="text-white tracking-tight text-md font-medium cursor-pointer"
      >Dashboard</a
    >
    <a
      href=""
      class="text-white tracking-tight text-md font-medium cursor-pointer"
      >Github</a
    >
    <a
      href=""
      class="text-white tracking-tight text-md font-medium cursor-pointer"
      >Contact</a
    >
  </nav>
</header>

<script>
  const { signIn, signOut } = await import("auth-astro/client");

  const sigInButton = document.querySelector(".sign-in") as HTMLButtonElement;
  const logOutButton = document.querySelector(".log-out") as HTMLButtonElement;

  if (sigInButton) {
    sigInButton.onclick = () => signIn("google");
  }

  if (logOutButton) {
    logOutButton.onclick = () => signOut();
  }
</script>
