---
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<header>
  {
    !session ? (
      <nav>
        <a id="sign-in" href="">
          Iniciar sesion
        </a>
      </nav>
    ) : (
      <nav class="menu">
        <a
          href="
          "
        >
          Perfil
        </a>
        <div class="sub-menu">
          <div>
            <img src="/public/media/avatar.jpg" alt="" /> 
          </div>
          <div>
            <h4>Configuración</h4>
          </div>
        </div>
      </nav>
    )
  }
  <a class="logo">
    <h1>nature</h1>
  </a>
  <nav>
    <a href="">Acerca de</a>
    <a href="">Contacto</a>
  </nav>
</header>

<script>
  const { signIn } = await import("auth-astro/client");

  const button = document
    .getElementById("sign-in")
    .addEventListener("click", async (e) => {
      e.preventDefault();
      await signIn("google", { callbackUrl: "/" });
    });
</script>

<style>
  .menu {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    gap: 1rem;
    position: relative;
  }
  .sub-menu {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background-color: #101309;
    width: 100%;
    height: auto;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
  }

  .sub-menu div:first-child {
    display: flex;
    width: 100%;
    height: 100%
    align-items: center;
    background-color: #101309;
    border-radius: 0.5rem;
  }

  .submenu div:last-child {
    width: 100%;
    height: 100%;
  }

  .sub-menu div:first-child img {
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
  }

  a {
    display: inline-block;
    position: relative;
    color: #ebff6d;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: -0.03rem;
    padding-bottom: 0.2rem;
  }

  a::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0.05rem;
    background-color: #ebff6d;
    transition: width 0.3s cubic-bezier(0.3, 0.2, 0.2, 0.8);
  }

  a:hover::before {
    width: 100%;
    left: 0;
    margin-right: auto;
  }

  h1 {
    color: #ebff6d;
    font-size: 25px;
    font-weight: 500;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7.563rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  nav:last-child {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    gap: 2rem;
  }
</style>
