<header>
  <nav>
    <a href="">Acerca de</a>
    <a href="">Contacto</a>
  </nav>
  <a class="logo">
    <h1>nature</h1>
  </a>
  <nav>
    <a href="">Iniciar sesion</a>
  </nav>
</header>

<style>
  a {
    display: inline-block;
    position: relative;
    color: #ebff6d;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: -0.03rem;
    padding-bottom: 0.2rem;
  }

  a::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0.05rem;
    background-color: #ebff6d;
    transition: width 0.3s cubic-bezier(0.3, 0.2, 0.2, 0.8);
  }

  a:hover::before {
    width: 100%;
    left: 0;
    margin-right: auto;
  }

  h1 {
    color: #ebff6d;
    font-size: 25px;
    font-weight: 500;
  }
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7.563rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  nav:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    gap: 2rem;
  }
  nav:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    gap: 1rem;
  }
</style>
