<header class="flex justify-between fixed top-0 left-0 w-full z-50 px-[4rem] py-[1rem] ">
  <h1 class="text-white tracking-tighter text-2xl font-semibold">
    Green Digital
  </h1>
  <nav class="flex gap-5">
    <a href="" class="text-white tracking-tight text-md font-medium cursor-pointer">Sign-in</a>
    <a href="" class="text-white tracking-tight text-md font-medium cursor-pointer">Dashboard</a>
    <a href="" class="text-white tracking-tight text-md font-medium cursor-pointer">Github</a>
    <a href="" class="text-white tracking-tight text-md font-medium cursor-pointer">Contact</a>
  </nav>
</header>
