---
import { getSession } from "auth-astro/server";
import { retrievedCorrectly } from "./DashCalculate.astro";
const session = (await getSession(Astro.request)) as any;
import SignInAlert from "../components/SignInAlert.astro";
import { Icon } from "astro-icon/components";

console.log("data traída correctamente?", retrievedCorrectly);
---

<header
  id="page-header"
  class="flex justify-between fixed top-0 left-0 w-full z-50 px-[4rem] py-[0.8rem]"
>
  {!session && <SignInAlert />}
  <div class="flex flex-col">
    <a
      href="/"
      class="text-white cursor-pointer tracking-tighter text-xl font-semibold hover:text-primary transition-colors"
    >
      Green Digital
    </a>
  </div>
  <nav class="flex items-center gap-5">
    {
      retrievedCorrectly && (
          <a
            id="dashboard-btn"
            href="/dashboard"
            class="text-white tracking-tight text-sm font-medium cursor-pointer hover:text-primary transition-colors"
          >
            Dashboard
          </a>
      )
    }

    {
      !session && (
        <button
          id="sign-in"
          class="flex gap-2  justify-center items-center text-white tracking-tight text-sm font-medium cursor-pointer bg-bg-gray/20 px-5 py-1 hover:text-primary transition-colors
          outline-none border-none rounded-[5px]"
        >
          Sign in
          <Icon name="google" width={20} height={20} />
        </button>
      )
    }
    <a
      href="https://github.com/hayyrs66/footprint"
      target="_blank"
      class="flex justify-center items-center gap-1 text-white tracking-tight text-sm font-medium cursor-pointer hover:text-primary transition-colors"
    >
      Github
      <Icon name="github" width={20} height={20} />
    </a>
    {
      session && (
        <button
          id="log-out"
          class="text-red-300 bg-bg-gray/20 px-2 py-1 rounded-[5px] tracking-tight text-sm font-medium cursor-pointer hover:text-primary transition-colors"
        >
          Sign out
        </button>
      )
    }
  </nav>
</header>

<script>
  const { signOut } = await import("auth-astro/client");
  

  const logOutButton = document.getElementById("log-out") as HTMLButtonElement;
  const header = document.getElementById("page-header") as HTMLElement;

  if (logOutButton) {
    logOutButton.onclick = () => signOut();
  }

  console.log(scrollY)
  

  window.addEventListener("scroll", () => {
    if (scrollY > 50) {
      header.style.backdropFilter = "blur(5px)";
      header.style.borderBottom = "1px solid rgba(235, 255, 109, 0.1)";
    } else {
      header.style.backdropFilter = "none";
      header.style.borderBottom = "none";
    }
  }); 
</script>
