---

---

<section class="hero">
  <div class="vignette"></div>
  <div class="mask"></div>
  <img
    src="../../public/media/parallax/mountain-1.png"
    alt=""
    class="mountain mnt-1 parallax"
    data-speedx="0.0002"
    data-speedy="0.0005"
    data-distance="100"
  />
  <img
    src="../../public/media/parallax/mountain-2.png"
    alt=""
    class="mountain mnt-2 parallax"
    data-speedx="0.0008"
    data-speedy="0.001"
    data-distance="200"
  />
  <img
    src="../../public/media/parallax/mountain-3.png"
    alt=""
    class="mountain mnt-3 parallax"
    data-speedx="0.01"
    data-speedy="0.04"
    data-distance="300"
  />
  <img
    src="../../public/media/parallax/mountain-4.png"
    alt=""
    class="mountain mnt-4 parallax"
    data-speedx="0.05"
    data-speedy="0.08"
    data-distance="400"
  />
  <div class="text parallax" data-speedx="0.0001" data-speedy="0.0001">
    <h2>ES HORA DE CUIDAR NUESTRA</h2>
    <h2>NATURALEZA</h2>
  </div>
  <img
    src="../../public/media/parallax/mountain-5.png"
    alt=""
    class="mountain mnt-5 parallax"
    data-speedx="0.08"
    data-speedy="0.1"
    data-distance="500"
  />
  <img
    src="../../public/media/parallax/mountain-6.png"
    alt=""
    class="mountain mnt-6 parallax"
    data-speedx="0.02"
    data-speedy="0.05"
    data-distance="600"
  />
  <img
    src="../../public/media/parallax/fog.avif"
    alt=""
    class="fog parallax"
    data-speedx="0.1"
    data-speedy="0.001"
    data-distance="800"
  />
</section>

<script src="../js/parallax.js"></script>

<style>
  section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url("../../public/media/parallax/background.avif");
    background-size: cover;
    background-position: center;
  }

  .fog {
    position: absolute;
    width: initial;
    height: 288.88%;
    top: 50%;
    left: 50%;
    z-index: 7;
  }

  .mountain {
    position: absolute;
    width: initial;
    height: 177.776%;
    top: calc(50%);
    left: calc(50%);
  }

  /* .mnt-5 {
    width: 107.64%;
  }
  .mnt-6 {
    width: 111.11%;
  } */

  section img:nth-of-type(1) {
    z-index: 6;
  }
  section img:nth-of-type(2) {
    z-index: 5;
  }
  section img:nth-of-type(3) {
    z-index: 4;
  }
  section img:nth-of-type(4) {
    z-index: 3;
  }
  section img:nth-of-type(5) {
    z-index: 2;
  }
  section img:nth-of-type(6) {
    z-index: 1;
  }
  .text {
    position: absolute;
    top: calc(50% - 70px);
    left: 50%;
    text-align: center;
    color: #ebff6d;
    z-index: 3;
    transform: translate(-50%, -50%);
  }

  .text h2:first-child {
    font-size: 2rem;
    text-wrap: nowrap;
    font-weight: 200;
    line-height: 0.88;
    letter-spacing: -0.1rem;
  }

  .text h2:last-child {
    font-size: 7rem;
    font-weight: 500;
    line-height: 0.88;
    letter-spacing: -0.2rem;
  }
  .vignette {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 0.7)
    );
  }

  .parallax {
    pointer-events: none;
  }
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #101309;
    mask-image: linear-gradient(to bottom, transparent 50%, #101309 95%);
  }
</style>
