---
---

<section class="bg-hero w-full h-screen bg-no-repeat bg-cover bg-center relative">
    <div class="grid grid-cols-2 w-full h-full">
        <aside class="flex flex-col min-w-[600px] bg-[#101309]/20 backdrop-blur-lg w-fit h-full justify-between items-start p-[4rem]">
            <div class="w-full h-full flex justify-end items-center">
                <h2 class="text-[10rem] text-white tracking-[-0.8rem] leading-[0.8] ">Make it Green</h2>
            </div>
            <div>
                <div class="flex justify-start items-center gap-5">
                    <!-- <img src="/star-title.svg" alt="star" width="30" height="30" class="text-white opacity-40"> -->
                    <span class="text-white/50 font-bold text-[2rem]">01</span>
                    <h1 class="text-[2rem] text-white/70 tracking-tighter font-semibold">Calcula tu huella </h1>
                </div>
                <div class="flex gap-x-16">
                    <div class=""/>
                    <p class="max-w-[382px] text-balance text-sm text-slate-300 tracking-tight">
                        Hagamos un mundo digital consciente.
                    </p>
                </div>
            </div>
        </aside>
        <div class="w-full h-full flex justify-start items-center">

        </div>
    </div>
</section>
