---
import AlertDialog from "../components/AlertDialog.astro";

---

<section
  class="bg-hero w-full h-screen bg-no-repeat bg-cover bg-center relative"
>
  <!-- Overlapping effects -->
  <AlertDialog />
  <div class="vignette"></div>
  <div class="mask"></div>
  <!-- Main Grid Two Sections Container -->
  <div class="grid grid-cols-2 w-full h-full">
    <!-- First section grid -->
    <aside
      class="flex flex-col min-w-[600px] bg-[#101309]/20 backdrop-blur-lg w-fit h-full justify-between items-start p-[4rem]"
    >
      <div class="w-full h-full flex justify-start items-center z-[5]">
        <h2 class="text-[8rem] text-white tracking-[-0.8rem] leading-[0.8]">
          Make it
          <div class="flex w-full h-auto justify-end items-center">
            <img
              src="src/icons/globe.svg"
              width={80}
              height={80}
              class="animate-spin"
            />
            <span class="text-primary">Green</span>
          </div>
        </h2>
      </div>
    </aside>
    <!-- Second section grid -->
    <div
      class="w-full h-full flex flex-col justify-between items-start z-10 p-[4rem]"
    >
      <!-- Gap Div -->
      <div></div>
      <!-- Calculate button -->
      <button class="button-calculate w-full h-auto outline-none">
        <div
          class="flex justify-center items-center custom-border w-full h-[220px] p-[0.5rem] z-[2] cursor-default"
        >
          <div
            class="p-[1rem] backdrop-blur-lg bg-white/10 hover:bg-white/5 hover:text-primary text-white transition-colors rounded-md w-full h-full flex flex-col justify-center items-center cursor-pointer"
          >
            <span class="font-medium text-5xl tracking-tighter"
              >Calculate Now</span
            >
          </div>
        </div>
      </button>
      <!-- Footer hero -->
      <div>
        <div class="flex justify-start items-center gap-5">
          <span class="text-white/50 font-bold text-[2rem]">01</span>
          <h1 class="text-[2rem] text-white tracking-tighter font-semibold">
            Calculate your footprint.
          </h1>
        </div>
        <div class="flex gap-x-16">
          <div></div>
          <p
            class="max-w-[382px] text-balance text-sm text-slate-300 tracking-tight"
          >
            Let's create a mindful digital world. Calculate your carbon
            footprint and learn how to reduce it.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- {END} Main Grid Two Sections Container -->
</section>

<script>
  let finalData = null;

  document
    .querySelector(".button-calculate")
    .addEventListener("click", async function () {
      const response = await fetch("http://localhost:3001/drive");
      response.json().then((fetchData) => {
        console.log(Astro.response)
      });
    });
</script>

</script>

<style>
  .vignette {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 45%,
      rgba(0, 0, 0, 0.7) 100%
    );
  }

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    background-color: #101309;
    mask-image: linear-gradient(to bottom, transparent 50%, #101309 95%);
  }

  .custom-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23EBFF6DFF' stroke-width='3' stroke-dasharray='10%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 6px;
  }
</style>
