---

---

<section>
  <div class="vignette"></div>
  <img
    src="../../public/media/parallax/mountain-1.avif"
    alt=""
    class="mountain mnt-1 parallax"
    data-speedx="0.002"
    data-speedy="0.005"
    data-distance="100"
  />
  <img
    src="../../public/media/parallax/mountain-2.avif"
    alt=""
    class="mountain mnt-2 parallax"
    data-speedx="0.008"
    data-speedy="0.01"
    data-distance="200"
  />
  <img
    src="../../public/media/parallax/mountain-3.avif"
    alt=""
    class="mountain mnt-3 parallax"
    data-speedx="0.01"
    data-speedy="0.04"
    data-distance="300"
  />
  <img
    src="../../public/media/parallax/mountain-4.avif"
    alt=""
    class="mountain mnt-4 parallax"
    data-speedx="0.05"
    data-speedy="0.08"
    data-distance="400"
  />
  <div class="text parallax" data-speedx="0.0001" data-speedy="0.0001">
    <h2>ES HORA DE CUIDAR NUESTRA</h2>
    <h2>NATURALEZA</h2>
  </div>
  <img
    src="../../public/media/parallax/mountain-5.avif"
    alt=""
    class="mountain mnt-5 parallax"
    data-speedx="0.08"
    data-speedy="0.1"
    data-distance="500"
  />
  <img
    src="../../public/media/parallax/background.avif"
    alt=""
    class="mountain parallax bg-img"
    data-speedx="0.09"
    data-speedy="0.3"
    data-distance="600"
  />
  <img
    src="../../public/media/parallax/fog.avif"
    alt=""
    class="fog parallax"
    data-speedx="0.1"
    data-speedy="0.001"
    data-distance="800"
  />
</section>

<script src="../js/parallax.js"></script>

<style>
  section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .fog {
    position: absolute;
    width: 2000px;
    top: 50%;
    left: 50%;
    z-index: 4;
  }

  .mountain {
    position: absolute;
    width: 1500px;
    top: calc(50%);
    left: calc(50%);
    z-index: 2;
  }

  section img:nth-of-type(1) {
    z-index: 6;
  }
  section img:nth-of-type(2) {
    z-index: 5;
  }
  section img:nth-of-type(3) {
    z-index: 4;
  }
  section img:nth-of-type(4) {
    z-index: 3;
  }
  section img:nth-of-type(5) {
    z-index: 2;
  }
  section img:nth-of-type(6) {
    z-index: 1;
  }
  .text {
    position: absolute;
    top: calc(50% - 70px);
    left: 50%;
    text-align: center;
    color: #ebff6d;
    z-index: 3;
    transform: translate(-50%, -50%);
  }

  .text h2:first-child {
    font-size: 2rem;
    text-wrap: nowrap;
    font-weight: 200;
    line-height: 0.88;
    letter-spacing: -0.1rem;
  }

  .text h2:last-child {
    font-size: 7rem;
    font-weight: 500;
    line-height: 0.88;
    letter-spacing: -0.2rem;
  }
  .vignette {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 0.7)
    );
  }

  .parallax {
    pointer-events: none;
  }
</style>
